.upload-container {
  background-color: rgb(224, 223, 223);
  height: 50px;
  width: 100%;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.button {
  display: block;
  padding: 5px;
  margin-right: 20px;
  border-radius: 5px !important;
  color: white;
}

.update {
  background-color: rgb(71, 71, 244);
}

.remove {
  background-color: rgb(224, 50, 50);
}

.btn-group {
  display: flex;
  align-items: center;
}
